spring:
  application:
    name: access-control-management

  datasource:
    url: jdbc:postgresql://localhost:5432/access_control_management
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

pbac:
  # DENY_OVERRIDES: 1件でもDENYがあればDENY
  # PERMIT_OVERRIDES: 1件でもPERMITがあればPERMIT
  # FIRST_APPLICABLE: 優先度順に最初に適用されたポリシーを採用
  combining-algorithm: DENY_OVERRIDES
